body, html{
  margin: 0;   
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* top nav */
.navbar{
  background-color: #FFFFFF;
  box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
}

/* content, text, margin */
.main-text{ 
  color: #007BFF; 
} 

.text-margin{
  margin: 15px;
}

.margin{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* top scroller id */
#myBtn{  
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  background-color: #007BFF;
  color: #FFFFFF;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px
}

/* button */
.submit{ 
  padding: 10px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}






