body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("https://frontendjoe.com/images/wallpapers/memphis.png");
  height: 100vh;
  color-scheme: dark;
  font-family: "Nunito", sans-serif;
}

/* top nav */
.navbar {
  box-shadow: 0 5px 5px -2px rgba(255, 255, 255);
  background: rgba(255, 255, 255, 0.7);
}

.dropdown-menu {
  background-color: #343a40;
  border: 1px solid #905ef0;
}

.dropdown-item {
  background-color: #343a40;
  color: #ffffff;
}

.dropdown-item:hover {
  background-color: #696d725b;
  color: #ffffff;
}

/* content, text, margin */
.main-text {
  color: #905ef0;
  background: rgba(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.text {
  color: #905ef0;
}

h1 {
  margin: 0 359px;
  padding: 20px;
  backdrop-filter: blur(10px);
}

footer {
  margin: 0 665px;
}

.content-text {
  color: #ffffff;
}

.text-margin {
  margin: 15px;
}

.margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* top scroller id */
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  background: #905ef0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

/* button */
.submit {
  padding: 10px;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  border: 1px solid #905ef0;
}

.table {
  background: rgba(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.table td,
.table th {
  border: none;
}
.tab1 {
  border-radius: 20px 0 0 0;
}

.tab7 {
  border-radius: 0 20px 0 0;
}

@media screen and (max-width: 1024px) {
  h1 {
    margin: 0;
    padding: 20px;
    backdrop-filter: blur(10px);
  }

  footer {
    margin: 20px;
  }

  .table {
    border-radius: 0;
  }
}

/* scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #905ef0;
}

::-webkit-scrollbar-thumb:hover {
  background: #915ef088;
}
